<div class="starship-card">
    <h2 class='starship-title'>{{peopleDetails.name}}</h2>
    <div class='starship-details'>
        <div>
            <p><b> Height: </b> {{peopleDetails.height}}</p>
            <p><b>Mass: </b>{{peopleDetails.mass}}</p>
            <p><b>Hair Color: </b> {{peopleDetails.hair_color}}</p>
            <p><b>Skin Color:</b> {{peopleDetails.skin_color}}</p>
        </div>
        <div>
            <p><b>Eye Color: </b> {{peopleDetails.eye_color}}</p>
            <p><b>Birth Year: </b> {{peopleDetails.birth_year}}</p>
            <p><b>Gender: </b> {{peopleDetails.gender}}</p>
            <p><b> Homeworld: </b> {{peopleDetails.homeworld}}</p>
        </div>
        <!-- <p><b>Pilots: </b></p>
        <p *ngIf='!peopleDetails.pilots.length'>No pilots for this starship</p>
        <div *ngFor='let pilot of peopleDetails.pilots'>
            <p class='starship-pilots' (click)=onLoadPilotDetail(pilot)>{{getPilotName(pilot)}} </p>
        </div>

        <p><b>Films: </b></p>
        <p *ngIf='!peopleDetails.films.length'>No films for this starship</p>
        <div *ngFor='let films of peopleDetails.films'>
            <p class='starship-pilots' (click)=onLoadPilotDetail(pilot)>{{getPilotName(pilot)}} </p>
            <p>{{films}}</p>
        </div> -->
    </div>
    <div class='footer'>
        <button class= 'btn-home' (click)='onHome()'> Home </button>
        <button class= 'btn-return' (click)='onReturn()'> Back </button>
    
    </div>
</div>