.starship-pilots:hover {
    color:whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    padding-left: 25px;
} 

.starship {
    &-card {
        display: block;
        margin: auto;
        width: 80%;
        min-width: 300px;
        max-width: 1200px;
        padding-top:5px; 
        margin-bottom:20px; 
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(2px);
        p,label {
            margin-left: 20px;
            margin-right:20px;
        }
    }
    &-title {
    padding-top:20px; 
    margin-bottom:20px; 
    text-align: center;
    }
    &-details {
        display:flex; 
        flex-direction:row; 
        flex-wrap:wrap; 
        justify-content: space-between; 
        gap: 10px;
    }
    &-pilots, .films {
        margin:5px 5px 5px 5px;
     }
     &-people-films {
        display:flex; 
        flex-direction:row; 
        flex-wrap:wrap; 
        justify-content: flex-start; 
        gap: 10px;
     }
}