
<div class='main-container'>
<div class="glass-card" *ngFor='let starship of starShipsList ; let odd = odd'>
    <div class='title-container'>
        
        <h3 (click)='onLoadStarShipDetail(starship)'>{{starship.name}}</h3>
    </div>
    <p><b>Model: </b>{{starship.model}}</p>
    <p><b>Class: </b>{{starship.starship_class}}</p>
    <p><b>Pilots: </b></p>
    <p *ngIf='!starship.pilots.length'>No pilots for this starship</p>
    <div *ngFor='let pilot of starship.pilots'>
        <p class='starship-pilots' (click)=onLoadPilotDetail(pilot)>{{getPilotName(pilot)}} </p>
    </div>
</div>
</div>

<!-- <app-star-ships></app-star-ships>
<app-planets></app-planets> -->