
<div class="starship-card">

    <h2 class='starship-title'>{{spaceShipDetails.name}}</h2>
   
    <div class='starship-details'>
        <div>
            <p><b> Class: </b> {{spaceShipDetails.starship_class}}</p>
            <p><b>Model: </b>{{spaceShipDetails.model}}</p>
            <p><b>Manufacturer: </b> {{spaceShipDetails.manufacturer}}</p>
            <p><b>Cargo Capacity:</b> {{spaceShipDetails.cargo_capacity}}</p>
        </div>

        <div>
            <p><b>Consumables: </b> {{spaceShipDetails.consumables}}</p>
            <p><b>MGLT: </b> {{spaceShipDetails.MGLT}}</p>
            <p><b>Cost in Credits: </b> {{spaceShipDetails.cost_in_credits}}</p>
            <p><b> Crew: </b> {{spaceShipDetails.crew}}</p>
        </div>
    
        <div>
            <p><b> Rating: </b> {{spaceShipDetails.hyperdrive_rating}}</p>
            <p><b> Lenght: </b> {{spaceShipDetails.length}}</p>
            <p><b> Max Atmosphere Speed: </b> {{spaceShipDetails.max_atmosphering_speed}}</p>
            <p><b>Passengers: </b> {{spaceShipDetails.passengers}}</p>
        </div>
    </div>
   
   <div class='starship-people-films'>
            <div>
                <p><b>Films: </b></p>
                <p *ngIf='!spaceShipDetails.films.length'>No films for this starship</p>
                <div  style='display:flex; flex-direction:column;'>
                    <div  *ngFor='let films of spaceShipDetails.films'>
                        <p  class='films'>{{films}}</p>
                    </div>
                </div>
            </div>

            <div>
                <p><b>Pilots: </b></p>
                <p *ngIf='!spaceShipDetails.pilots.length'>No pilots for this starship</p>
                <div  style='display:flex; flex-direction:column;'>
                    <div *ngFor='let pilot of spaceShipDetails.pilots'>
                        <p class='starship-pilots' (click)=onLoadPilotDetail(pilot)>{{getPilotName(pilot)}} </p>
                    </div>
                </div>
            </div>
        
    </div>

    <div class='footer'>
      <button class= 'btn-home' (click)='onHome()'> Home </button>
      <button class= 'btn-return' (click)='onReturn()'> Back </button>
    </div>  
</div>

