/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: Roboto, sans-serif;
  }
  
  body {
    background: rgb(192,192,237);
    background-image: url('../src/assets/img/felix-mittermeier-Knwea-mLGAg-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  
.main-container {
    align-self: center;
    display: flex;
    gap:20px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.title-container {
    text-align: center;
    h3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.title-container:hover {
     
  h3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    cursor:pointer;
    color: white;
    backdrop-filter: blur(5px);
    transform: scale(1.05);
} 

.glass-card {
    width: 320px;
    border-radius: 5%;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    p {
        padding-left: 15px;
        padding-right: 5px;
    }
   
  }


  .starship-pilots {
    margin:5px 5px 10px 15px;
  }
  .starship-pilots:hover {
    color:whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    padding-left: 25px;
  } 



  .btn-home {
    margin: 15px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(7, 84, 226);
    color:white;
    border-radius: 5px;
}

.btn-return {
    margin: 15px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-color: rgb(7, 84, 226);;
    color: rgb(7, 84, 226);
    border-radius: 5px;
}

.footer {
    display: flex; 
    justify-content: space-evenly;
}